/* --- Reset --- */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1.5;
}

/* --- Base layout --- */
body {
  font-family: "Inter", Arial, sans-serif;
  font-size: 12pt;
  color: #111827;
  background: #f9fafb;
  max-width: 900px;
  margin: 40px auto 60px;
  padding: 0 24px;
}

/* --- Paragraphs --- */
p {
  margin: 0 0 0.35em;
}

/* --- Headings --- */
h1, h2, h3, h4 {
  font-family: Avenir, Cousine, Verdana, sans-serif;
  font-weight: 400;
}

/* Name at top */
h1 {
  color: #2e3440;
  font-size: 2.4em;
  line-height: 1.1;
  margin-bottom: 0.15em;
}

/* Subtitle under name */
h1 + p {
  font-style: italic;
  font-size: 110%;
  margin-bottom: 1.2em;
}

/* Major sections: Employment, Education, etc. */
h1[id] {
  margin-top: 1em;
  /*padding-top: 0.5em;*/
  /*border-top: 1px solid #e5e7eb;*/
}

/* Company names */
h2 {
  font-size: 1.25em;
  color: #111827;
  font-weight: 600;
  margin: 1.6em 0 0.35em;
}

/* Subprojects */
h3 {
  font-size: 1.1em;
  color: #4c566a;
  margin: 1em 0 0.2em;
}

/* --- Lists --- */
ul {
  list-style: disc;
  margin: 0.2em 0 0.9em 1.4em;
}

li {
  margin-bottom: 0.25em;
}

li ul {
  margin-top: 0.25em;
}

/* --- Horizontal rule (---) --- */
hr {
  border: 0;
  border-top: 1px solid #d1d5db;
  margin: 1em 0 0.6em;
  height: 0;
}

/* --- Links --- */
a {
  color: #5e81ac;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* PDF link */
a.document-link {
  display: inline-block;
  margin: 0 0 1.4em;
  color: #5e81ac;
  font-family: Monaco, Menlo, monospace;
  font-size: 90%;
}

/* Contact block */
#webaddress {
  margin: 0 0 1.6em;
  font-family: Monaco, Menlo, monospace;
  font-size: 90%;
}

#webaddress p {
  margin: 0;
}

#webaddress a {
  margin-right: 0.75em;
}

/* --- Code --- */
code {
  font-family: Monaco, Menlo, monospace;
  font-size: 0.9em;
  color: #374151;
}

p code {
  position: static;
}

/* --- Emphasis --- */
em {
  color: #2d4e5e;
}

strong {
  font-weight: bold;
}

/* Hide GitHub button */
#ghbutton {
  display: none;
  visibility: hidden;
}